/**
 * CSS Variables for <%= name %>
 *
 * @package <%= namespace %>
 */

$<%= slug %>: #005580;
$<%= slug %>-light: #018fd7;
$green: #7ad03a;
$red: #a00;
$orange: #ffba00;
$blue: #2ea2cc;
$white: #ffffff;

